# Database
DATABASE_URL="file:./dev.db"

# JWT Secret (Change this to a random string in production)
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"

# Email Configuration (Gmail)
# Get App Password: https://myaccount.google.com/apppasswords
EMAIL_USER="na619277@gmail.com"
EMAIL_PASS="vkrf przs iizu urcn"

# App Settings
NEXT_PUBLIC_APP_NAME="MoneyMint"
NEXT_PUBLIC_ADMIN_DEPOSIT_LINK="https://your-binance-deposit-link.com"
